:root {
  --primary-text: #ffffff;
  --secondary-text: #afb0b6;
  --text-grey: #797c86;
  --purple-text-light: #d6d0fb;
  --purple-md: #aea1f7;
  --primary-purple: #4a2ced;
  --luxury-mango: #ffce22;
  --dark-12: #1c1c21;
  --dark-03: #070708;
  --dark-20: #2f2f37;
}
